{{ block title }}
Section 5
{{ endblock }}

{{ block content }}
    <p>
        If you pass the second STEM quiz by answering <b>{% player.passing_threshold %}</b> questions correctly, then you will receive a bonus of $2.
    <p>
        Please <b>DO NOT CHEAT</b> and look up the answers. If you are caught cheating, then you will not receive any
        bonus. Our software can detect whether you leave this webpage.
    </p>
    <form method="post" id="myForm">

        {% for question in parsed_questions %}
            <div>
                {% if question.image_url %}
                    {% load static %}
                    <img src="{% static question.image_url %}" style="max-width: 75%; height: auto;">
                {% endif %}
                <br>
                {{ formfield question.question_text }}
                {{ formfield_errors question.question_text }}
            </div>
            <br>
        {% endfor %}
        <input type="hidden" name="num_tab_switches_in_section_5" id="num_tab_switches_in_section_5" value="0">
        <input type="hidden" name="total_time_hidden_in_section_5" id="total_time_hidden_in_section_5" value="0">
        {{ next_button }}
    </form>

    <script>
        let tabSwitches = 0;
        let totalTimeHidden = 0;
        let currTimeHidden = 0;
        document.addEventListener('visibilitychange', function () {
            if (document.hidden) {
                currTimeHidden = Date.now();
                tabSwitches++;
                document.getElementById('num_tab_switches_in_section_5').value = tabSwitches;
            } else {
                totalTimeHidden += (Date.now() - currTimeHidden) / 1000;
                document.getElementById('total_time_hidden_in_section_5').value = totalTimeHidden;
            }
        });

    </script>
{{ endblock }}
