{{ block title }}
Section 4
{{ endblock }}

{{ block content }}
<p>
        For this next section, you have the choice to continue or quit the STEM track.
        <ul>
                <li>If you continue with the STEM track, then you will have to take another STEM quiz. </li>
                <ul>
                        <li>If you pass the second STEM quiz by answering <b> at least {{player.passing_threshold }}</b> questions correctly, then you will receive a bonus of $2.</li>
                        <li>However, if you fail the second STEM quiz, then you receive a bonus of $0.</li>
                </ul>
                
                <li>If you choose to quit the STEM track, then you skip the STEM quiz, proceed to the final questions of the survey, and receive a bonus of $0.</li>
        </ul>
</p>

<label for="thresholdCheck">What is the minimum number of correct answers you need to pass the STEM quiz? <br><i>Note you must
                answer this question correctly to proceed.</i></label>
<select id="thresholdCheck" class="form-control">
        <option value="" selected disabled>Select # of Questions to Pass the STEM Quiz</option>
        {% for i in range(11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
</select>
<br>
<div id="surveyForm" style="display: none;">
        <form>
                {% formfield 'preferred_second_survey' %}
                {% formfield_errors 'preferred_second_survey' %}
        </form>
</div>
<br>
<button id="next-button" class="btn" style="display: none;" disabled>{{ next_button }}</button>

<script>
        const passingThreshold = "{{ player.passing_threshold }}";

        const dropdown = document.getElementById('thresholdCheck');
        const surveyForm = document.getElementById('surveyForm');
        const nextButton = document.getElementById('next-button');

        function checkFormReady() {
                const selectedSurvey = document.querySelector('input[name="preferred_second_survey"]:checked, select[name="preferred_second_survey"]');
                const surveySelected = selectedSurvey !== null;
                nextButton.disabled = !(surveyForm.style.display === 'block' && surveySelected);
        }

        dropdown.addEventListener('change', function () {
                const selectedValue = parseInt(this.value);
                if (String(selectedValue) === String(passingThreshold)) {
                        surveyForm.style.display = 'block';
                        nextButton.style.display = 'block';
                } else {
                        surveyForm.style.display = 'none';
                        nextButton.disabled = true;
                }
                checkFormReady();
        });

        document.addEventListener('change', checkFormReady);
</script>
{{ endblock }}