{{ block title }}
Section 4
{{ endblock }}
{{ block content }}
<p>
        For this next section, you have the choice to continue down the STEM track or to switch to a non-STEM track.
        If you continue with the STEM track, then you will have to take another STEM quiz. If you pass the second STEM quiz by answering <b>{% player.passing_threshold %}</b> questions correctly, then you will receive a bonus of $2. However, if you fail the second STEM quiz, then you receive a bonus of $0.
        If you continue with a non-STEM track, then you will receive $0.20 per each question you answer correctly.
        
</p>
<form>
        {% formfield 'preferred_second_survey' %}
        {% formfield_errors 'preferred_second_survey' %}
</form>
        {{ next_button }}
{{ endblock }}
