{{ block title }}
    Language Quiz
{{ endblock }}
{{ block content }}
    <p>
        Choose the word that is most similar to the word in all capital letters.
    </p>
    {% for question in parsed_questions %}
        <div>
            <p>{{ question.text }}</p>
            {% if question.image_url %}
                <img src="{{ question.image_url }}" alt="Question Image">
            {% endif %}
            <form>
                {% formfield question.question_text %}
                {% formfield_errors question.question_text %}
            </form>
        </div>
    {% endfor %}
    {{ next_button }}

{{ endblock }}

