{{ block title }}
Section 5
{{ endblock }}

{{ block content }}
    <p>
        Choose the word that is most similar in meaning to the word in capital letters. For every question you get correct, you will get a bonus of $0.10. 
    </p>
    <form method="post" id="myForm">

        {% for question in parsed_questions %}
            <div>
                {% if question.image_url %}
                    <img src="{{ question.image_url }}" alt="Question Image" style="max-width: 50%; height: auto;">
                {% endif %}
                <br>
                {{ formfield question.question_text }}
                {{ formfield_errors question.question_text }}
            </div>
            <br>
        {% endfor %}
        <input type="hidden" name="numTabSwitches2" id="numTabSwitches2" value="0">
        <input type="hidden" name="totalTimeHidden2" id="totalTimeHidden2" value="0">
        {{ next_button }}
    </form>
    <script>
        let tabSwitches = 0;
        let totalTimeHidden = 0;
        let currTimeHidden = 0;
        document.addEventListener('visibilitychange', function () {
            if (document.hidden) {
                currTimeHidden = Date.now();
                tabSwitches++;
                document.getElementById('numTabSwitches2').value = tabSwitches;
            } else {
                totalTimeHidden += (Date.now() - currTimeHidden) / 1000;
                document.getElementById('totalTimeHidden2').value = totalTimeHidden;
            }
        });

    </script>
    
{{ endblock }}
