{{ block title }}
    STEM Quiz 2
{{ endblock }}

{{ block content }}
    <p>
        Select the correct choice:
    </p>
    <form method="post" id="myForm">

        {% for question in parsed_questions %}
            <div>
                {% if question.image_url %}
                    <img src="{{ question.image_url }}" alt="Question Image" style="max-width: 50%; height: auto;">
                {% endif %}
                <br>
                {{ formfield question.question_text }}
                {{ formfield_errors question.question_text }}
            </div>
            <br>
        {% endfor %}
        {{ next_button }}
    </form>
{{ endblock }}
