{{ block title }}
    STEM Quiz 1
{{ endblock }}

{{ block content }}
    <p>
        Select the correct choice:
    </p>
    <form>

        {% for question in parsed_questions %}
            <div>
                {% if question.image_url %}
                    <img src="{{ question.image_url }}" style="max-width: 50%; height: auto;">
                {% endif %}
                <br>
                {{ formfield question.question_text }}
                {{ formfield_errors question.question_text }}
            </div>
            <br>
        {% endfor %}
    </form>
    {{ next_button }}
{{ endblock }}
